body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.header {
  margin-bottom: 20px;
}

.header-text {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: white;
}

.content {
  display: flex;
  align-items: flex-start;
}

#gameCanvas {
  width: 800px; /* Set the width of the canvas */
  height: 600px; /* Set the height of the canvas */
  background-color: #000; /* Canvas background color */
}

.controls {
  margin-left: 20px;
  color: white;
  font-family: Arial, sans-serif;
  text-align: left;
}

.score {
  color: white;
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin-bottom: 10px;
}

.game-over {
  display: none;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.start-game {
  display: block;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

#newGameBtn {
  display: none;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

#newGameBtn:hover {
  background-color: #666;
}
